@import "variables.css";

.select {
  padding: 20px;
}

.content {
  height: 1000px;
  color: var(--secondary-4);
}

.layout-wrapper,
.layout-wrapper > * {
  position: relative;
  border: 1px solid gray;
  padding: 25px;
}

.layout-wrapper {
  height: 80vh;
}

.layout-wrapper.float:after {
  content: '';
  clear: both;
  display: table;
}
.layout-wrapper.float .nav {
  float: left;
  width: 100px;
  height: calc(100% - 80px);
  overflow: auto;
}
.layout-wrapper.float .main {
  float: left;
  width: calc(100% - 100px);
  height: calc(100% - 80px);
  overflow: auto;
}

.label {
  background-color: var(--primary-1);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 4px;
  border-bottom-right-radius: 8px;
}

.demo-container,
.sg-cell-group,
.sg-row,
.flex-container {
  position: relative;
  border: 1px solid var(--secondary-4);
  padding: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
}

.demo-content,
.sg-cell-group .sg-cell,
.sg-row .sg-col {
  position: relative;
  border: 1px solid white;
  background-color: var(--secondary-1);
  padding: 25px;
  word-break: break-all;
}

.demo-content:nth-child(2),
.sg-cell-group .sg-cell:nth-child(2),
.sg-row .sg-col:nth-child(2) {
  background-color: var(--secondary-2);
}
.demo-content:nth-child(3),
.sg-cell-group .sg-cell:nth-child(3),
.sg-row .sg-col:nth-child(3) {
  background-color: var(--secondary-3);
}
.demo-content:nth-child(4),
.sg-cell-group .sg-cell:nth-child(4),
.sg-row .sg-col:nth-child(4) {
  background-color: var(--secondary-4);
}

.flex-container {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-rowspan {
  flex: 1 1 100%;
}
.flex-initial {
  flex: initial;
  width: 200px;
  min-width: 100px;
}
.flex-none {
  flex: none;
  width: 200px;
}
.flex1 {
  flex: 1;
}
.flex2 {
  flex: 2;
}
.vertical-container {
  height: 200px;
  display: flex;
}

.sg-cell-col {
  display: table-column;
}

.grid {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 60px 30vh 80px;
}

.grid .g-header,
.grid .g-footer {
  grid-column: 1/3;
}

.grid2 {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 60px 30vh 80px;
  grid-template-areas: "sidebar header"
                       "sidebar main"
                       "footer footer";
}

.grid2 .g-header { grid-area: header; }
.grid2 .g-main { grid-area: main; }
.grid2 .g-sidebar { grid-area: sidebar; }
.grid2 .g-footer { grid-area: footer; }

@media (max-width: 800px) {
  .flex-container {
    flex-flow: wrap;
  }

  .flex-container .flex-1 {
    flex: 1 1 100%;
  }

  .grid {
    grid-template-columns: 0px auto;
  }

  .grid .g-sidebar {
    padding: 0;
  }

  .grid2 {
    grid-template-columns: auto;
    grid-template-rows: 60px 60px 30vh 80px;
    grid-template-areas: "header"
                         "sidebar"
                         "main"
                         "footer";
}

@media (max-width: 480px) {
}
