.parallax {
    /* Set a specific height */
    height: 50vw;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

@media screen and (max-width: 768px) {
    .parallax {
        background-attachment: inherit;
    }
}
